@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

#loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .formLoading {
        display: flex;
        justify-content: center;
        align-items: center;

        & .rotate-img {
            animation: rotate 5s linear infinite;
        }

        & p {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            font-size: 33px;
            color: #999;
            margin-left: 15px;
            margin-top: 20px;
        }
    }
      
    @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }
}